html {
    background: #969696;
}

:root {
    --fg: #EEE;
    --bg: #222;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    width:75%;
    margin: auto;
    background: whitesmoke;
    padding: 50px;
    padding-bottom: 560px;
    margin-bottom: 230px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: var(--bg);
    color: var(--fg);
}

.button_container {
    padding-bottom: 5px;
    display: inline-block;
}

button {
    margin-left: 5px;
    margin-right: 5px;
    min-width: 80px;
    font-size: 0.8em;
    margin: 5px 10px;
    font-size: 0.7em;
    font-weight: 400;
    color: var(--fg) !important;
    border-radius: 7px;
    border:solid 2px var(--fg);
    background: transparent;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: black;
button:hover{
    background: var(--fg);
    color: var(--bg) !important;
}

.button_container a {
    display: inline;
    color: black;
    text-decoration: none;
button:hover,
input[type="submit"]:hover{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.button_big {
    padding: 10px;
}

#welcome {
    width: 100%;
    margin: auto;
    padding-bottom: 50px;
}

h1 {
    text-align: center;
}

.authenticate {
    text-align: center;
    width: 100%;
}

.form {
    width: 20%;
    height: 50%;
    margin: 10% auto auto;
    text-align: center;
    border: solid 1px black;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 1px 2px;
}

.twoForms {
    width: 45%;
    height: 65%;
    margin: auto;
    margin-top: 10%;
    text-align: center;
    border: solid 1px black;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 1px 2px;
}

#formResult {
    width: auto;
    text-align: center;
}

.input {
    border-radius: 10px;
    box-shadow: 1px 2px;
    padding: 5px;
}

.alternative {
    text-align: center;
    margin-top: 50px;
}

.right {
    margin-top: 5px;
    text-align: right;
    display: block;
}

nav {
    float: left;
    margin-top: 50px;

}

.menu-item {
    padding: 10px;
    background: #e2e2e2;
    border: solid 1px black;
}

.menu-item a {
    text-decoration: none;
}

.center {
    text-align: center;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid;
}

table {
    margin: 10% auto auto;
    border-collapse: collapse;
}

td, th {
    text-align: center;
    padding: 5px;
}

.strong {
    font-weight: bold;
}

td > input {
    padding-right: 2px;
    padding-left: 2px;
}

.padd {
    width: 95%;
}

/* Remove IE arrow */
select::-ms-expand {
    display: none;
}

select {
    font-size: 0.8em;
}

.select {
    width: 98%;
}

.tournament_list_row {
    display: inline-block;
    margin-top: 0.4em;
}

.tournament_list_row a{
    text-decoration: none;
    font-weight: 800;
    color: var(--fg);
}

.label {
    background-color: #999;
    padding: 0.2em;
    border-radius: 6px;
    vertical-align: middle;
    font-size: 0.6em;
    color: white;
    font-weight: bold;
    margin-left: 10px;
}

.pending {background-color: #696969;}

tr:nth-child(2n) {
    background: #f1f1f1;
}

.red {
    color: red;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

.profile {
    margin-bottom: 10px;
}

.profile a{
    margin-right: 1px;
    padding: 5px;
}

.profile a:hover {
    margin-right: 0;
    border: solid 1px black;
    border-radius: 5px;
    background-color: rgb(235, 235, 235);
}

.image{

    width: 150px;

    height: 150px;

    overflow: hidden;
    display: block;

    margin-left: auto;

    margin-right: auto;

}


.image img{


    width: 100%;

    height: 100%;

    object-fit: fill;

    object-position: 50% 50%;

    transition: .3s linear;

    cursor: pointer;

}
.teamsform {
    width: 20%;
    margin: auto;
    margin-top: 5%;
    text-align: center;
    border: solid 1px black;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 1px 2px;
}



.ongoing {
    color: black;
    background-image: linear-gradient(#66ffcc, #00a16b);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #000000BB;
    margin: auto;
    padding: 30px;
    border: 1px solid var(--fg);
    width: min-content;
    display: flex;
    flex-direction: column;
}

.close {
    color: #ecc;
    font-size: 1.7em;
    font-weight: bold;
    align-self: end;
}

.close:hover,
.close:focus {
    color: var(--fg);
    text-decoration: none;
    cursor: pointer;
}

.error_msg {
    color: #DD1010;
    font-size: 0.9em;
}

.tournament-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.round {
    display: inline-flex;
    flex-direction: column;
    gap: 15px;
}

.match-p1 {
    top:2px;
    padding-left: 10px;
    border: 2px solid white;
    text-align: center;
    width: auto;
    display: block;
    position: relative;
}

.match-p2 {
    padding-left: 10px;
    border: 2px solid white;
    text-align: center;
    width: auto;
    display: block;
}

.match-pts {
    font-size: 0.8em;
    margin-left: 1em;
    text-align: right;
}

.match-pts {
    font-size: 0.8em;
    margin-left: 1em;
    text-align: right;
}

.round-matches {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 20px
}

#tournament-management {
    display: flex;
}

#tournament-main {
    display: inline-flex;
    flex-direction: row;
    gap: 30px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#resultContent {
    display: flex;
    justify-content: center;
    margin: 0;
}

.resultWinnerBox label {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}

.resultWinnerBox.active {
    border: 2px #ebc400 solid;
}

.resultWinnerBox{
    border: 2px transparent solid;
}

.resultWinnerBox:hover {
    border: 2px #ebc400 solid;
}

.res-radio {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.resultCheckbox {
    display: none;
}
.resultCheckbox + label {
    background-color: #696969;
    -webkit-mask-image: url('../images/trophy.svg');
    mask-image:  url('../images/trophy.svg');
    background-size: auto 100%;
    width: 40px;
    height: 40px;
    display: block;
    min-height: 100%;
}

.resultCheckbox:checked + label {
    background-color: #ebc400;
}

/* IMAGE STYLES */
.res-radio + img {
    cursor: pointer;
}

/* CHECKED STYLES */
.res-radio:checked + img {
    outline: 2px solid #f00;
}

.match-winner {
    color: var(--bg);
    background-image: linear-gradient(to right, #ebc400, #b39400);
}

.match-time {
    font-size: 0.8em;
    width: 100%;
    margin-bottom: -2px;
}

.set-result-button {
    border-radius: 0;
    padding: 0;
    margin: 0;
    border: 0;
    width:100%;
    display: block;
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
}

#tournament-rounds {
    display: flex;
    gap: 50px;
}

#button-next-round {
    align-self: flex-start;
    margin-right: 30px;
    color: #66ffcc !important;
    border-color: #66ffcc !important;
}

.menu-item a{
    text-decoration: none;
    color: var(--bg);
}
